<% include ../partials/header %>

<div class="card maincardbg shadow my-4 mx-md-5">
    <div class="card-header shadow-sm bg-light">
        <div class="no-gutters align-items-center d-flex justify-content-between">
            <div class="">
                <nav aria-label="breadcrumb">
                    <h3 class="headtitle pt-1">
                        <ol class="breadcrumb bg-transparent headtitle">
                            <li class="breadcrumb-item"><a class="text-dark" href="/jobs/"><strong>Jobs</strong></a></li>
                            <li class="breadcrumb-item"><a class="text-dark" href="/jobs/<%=job._id%>"><strong><%= job.jobId %> - <%= job.titleName %></strong></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Comment</li>
                        </ol>
                    </h3>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- Form Starts Here  -->
	    <form action="/jobs/<%= job._id %>/comments" method="POST">
            <div class="card shadow mt-5 mb-3 mx-md-5">
                <div class="card-header border-light">
                    <div class="form-group">
                        <label for="inputName"><strong>Add New Comment</strong></label>
                        <textarea autofocus class="form-control" type="text" name="comment[text]" id="inputName"placeholder=""></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group mb-5 mx-md-5">
                <button class="btn shadow-sm btn-md btn-outline-success btn-block">Submit!</button>
            </div>
        </form>
    	<!-- Form Ends Here -->
    </div>
    <div class="card-footer shadow-sm bg-light">
    	<a class="btn shadow-sm btn-sm btn-outline-secondary" href="/jobs/<%=job._id%>">Go Back</a>
    </div>
</div>

<% include ../partials/footer %>