<% include ../partials/header %>

<div class="card maincardbg shadow my-4 mx-md-5">
	<div class="card-header shadow-sm bg-light">
		<div class="no-gutters align-items-center d-flex justify-content-between">
			<div class="">
				<nav aria-label="breadcrumb">
					<h3 class="headtitle">
						<ol class="breadcrumb bg-transparent headtitle">
							<li class="breadcrumb-item"><a class="text-dark" href="/jobs/"><strong>Jobs</strong></a></li>
							<li class="breadcrumb-item active" aria-current="page"><%= job.jobId %> - <%= job.lastFirstName %></li>
						</ol>
					</h3>
				</nav>
			</div>
			<div class="">
				<a class="btn shadow-sm btn-outline-warning btn-md" href="/jobs/<%= job._id %>/edit">Edit</a>
			</div>
		</div>
	</div>
	<div class="card-body">
		<!-- Progress Bar -->
		<div class="shadow mx-lg-5">
			<% if(job.status === "Quoting"){ %>
				<div class="progress">
					<div class="progress-bar bg-secondary" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><strong>Quoting</strong></div>
				</div>
			<% } else if(job.status === "Work in Progress") { %>
				<div class="progress">
					<div class="progress-bar bg-info" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"><strong>Work in Progress</strong></div>
				</div>
			<% } else if(job.status === "Work Finished") { %>
				<div class="progress">
					<div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"><strong>Work Finished <small>(Ready for Invoice)</small></strong></div>
				</div>
			<% } else if(job.status === "Waiting for Payment") { %>
				<div class="progress">
					<div class="progress-bar bg-primary" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><strong>Waiting for Payment</strong></div>
				</div>
			<% } else if(job.status === "Job Complete") { %>
				<div class="progress">
					<div class="progress-bar bg-light text-dark" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><strong>Job Complete <small>(Payed)</small></strong></div>
				</div>
			<% } else if(job.status === "On Hold") { %>
				<div class="progress">
					<div class="progress-bar bg-warning text-dark" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><strong>On Hold</strong></div>
				</div>
			<% } else if(job.status === "On Clint's Desk") { %>
				<div class="progress">
					<div class="progress-bar bg-danger" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"><strong>On Clint's Desk</strong></div>
				</div>
			<% } else { %>
				<div class="progress">
					<div class="progress-bar bg-white text-dark" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><strong>Job Received</strong></div>
				</div>
			<% } %>
		</div>
		<!-- Client Info Card -->
		<div class="card shadow my-3 mx-lg-5">
			<div class="card-header shadow-sm">
				<span class="align-middle"><strong>Client Information</strong></span>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-lg-8 p-0">
						<table class="table table-borderless m-0">
							<tbody>
								<tr class="d-flex">
									<th scope="row" class="col-5 col-md-3 text-right">Name</td>
									<td><%=job.fullName%></td>
								</tr>
								<tr class="d-flex">
									<th scope="row" class="col-5 col-md-3 text-right">Phone Number</td>
									<td><%=job.phone%></td>
								</tr>
								<tr class="d-flex">
									<th scope="row" class="col-5 col-md-3 text-right">Email</td>
									<td><%=job.email%></td>
								</tr>
								<tr class="d-flex">
									<th scope="row" class="col-5 col-md-3 text-right">Address</td>
									<td><%=job.fullAddress%></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-lg-4"></div>
				</div>
			</div>
		</div>
		<!-- Claim Info Card -->
		<div class="card shadow my-3 mx-lg-5">
			<div class="card-header shadow-sm">
				<span class="align-middle"><strong>Claim Information</strong></span>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6 p-0">
						<table class="table table-borderless m-0">
							<tbody>
								<tr class="d-flex">
									<th scope="row" class="col-6  text-right">Insurance Company</th>
									<td><%=job.insComp%></td>
								</tr>
								<tr class="d-flex">
									<th scope="row" class="col-6  text-right">Policy Number</th>
									<td><%=job.policyNum%></td>
								</tr>
								<tr class="d-flex">
									<th scope="row" class="col-6  text-right">Claim Number</th>
									<td><%=job.claimNum%></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-6 p-0">
						<table class="table table-borderless m-0">
							<tbody>
								<tr class="d-flex">
									<th scope="row" class="col-6 text-right">Adjusting Company</th>
									<td><%=job.adjComp%></td>
								</tr>
								<tr class="d-flex">
									<th scope="row" class="col-6  text-right">Adjuster</th>
									<td><%=job.adjuster%></td>
								</tr>
								<tr class="d-flex">
									<th scope="row" class="col-6  text-right">File Number</th>
									<td><%=job.fileNum%></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-6 p-0">
						<table class="table table-borderless m-0">
							<tbody>
								<tr class="d-flex">
									<th scope="row" class="col-6  text-right">Date of Loss</th>
									<td><% if(job.dateOfLoss){ %><%= job.dateOfLoss.toDateString() %><% } %></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-6 p-0">
						<table class="table table-borderless m-0">
							<tbody>
								<tr class="d-flex">
									<th scope="row" class="col-6  text-right">Deductible</th>
									<td><%=job.deductible%></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- Comments Card -->
		<div class="card shadow my-3 mx-lg-5">
			<div class="card-header shadow-sm">
				<div class="no-gutters align-items-center d-flex justify-content-between">
					<div class="">
						<span class="align-middle"><strong>Comments</strong></span>
					</div>
					<div class="">
						<a class="btn shadow-sm btn-outline-success btn-sm" href="/jobs/<%= job._id %>/comments/new">Add Comment</a>
					</div>  
				</div>
			</div>
			<div class="card-body d-flex flex-column-reverse">
				<% job.comments.forEach(function(comment){ %>
					<div class="my-2">
						<div class="d-flex justify-content-between">
							<strong><%= comment.author.fullName %></strong>
							<!--check if comment has been edited or is original and show when last edited-->
							<span class="small">
								<% if(moment(comment.modifiedAt).isAfter(comment.createdAt)){ %>
									Edited <%= moment(comment.modifiedAt).utcOffset(-7).calendar() %>
								<% } else { %>
									Created <%= moment(comment.createdAt).utcOffset(-7).calendar() %>
								<% } %>
							</span>
						</div>
						<div class="d-flex justify-content-between">
							<p>	<%= comment.text %>	</p>
							<div>
								<% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
									<a class="btn shadow-sm btn-outline-warning btn-sm" href="/jobs/<%=job._id%>/comments/<%=comment._id%>/edit">Edit</a>
								<% } %>
							</div>
						</div>
					</div>
				<% }); %>
			</div>
		</div>
	</div>
	<div class="card-footer shadow-sm bg-light">
		<a class="btn shadow-sm btn-sm btn-outline-secondary" href="/jobs">Go Back</a>
	</div>
</div>

<% include ../partials/footer %>
