<% include ../partials/indexheader %>

<div class="card maincardbg shadow my-4 mx-md-5">
	<div class="card-header shadow-sm bg-light">
		<div class="no-gutters align-items-center d-flex justify-content-between">
			<div class="">
				<h3 class="headtitle text-dark"><strong>Users</strong></h3>
			</div>
			<% if(currentUser.isAdmin){ %>
			<div class="">
				<a class="btn shadow-sm btn-outline-success btn-md" href="/users/new">Add New User</a>
			</div>
			<% } %>
		</div>
	</div>
	<div class="card-body my-md-2">
		<div class="table-responsive shadow rounded p-2 p-sm-3 border" style="background-color:rgb(250,250,250,1)">
			<table class="table table-hover table-striped" id="usersTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th class="align-middle" scope="col">Username</th>
						<th class="align-middle" scope="col">Name</th>
						<th class="align-middle" scope="col">Title</th>
						<th class="align-middle" scope="col">Phone</th>
						<th class="align-middle" scope="col">Email</th>
					</tr>
				</thead>
				<tbody data-link="row" class="rowlink">
					<% users.forEach(function(user){ %>
						<tr>
							<td class="align-middle">
								<a href="/users/<%= user._id %>/edit">
									<strong><%- user.username %></strong>
								</a>
							</td>
							<td class="align-middle">
								<%- user.firstName %> <%-user.lastName%>
							</td>
							<td class="align-middle">
								<%- user.title %>
							</td>
							<td class="align-middle" style="white-space: nowrap;">
								<%= user.phone %>
							</td>
							<td class="align-middle">
								<%= user.email %>
							</td>
						</tr>
					<% }); %>
				</tbody>
			</table>
		</div>
	</div>
	<div class="card-footer shadow-sm bg-light small text-muted">

	</div>
</div>

<% include ../partials/indexfooter %>